
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap'); /* importamos fuente de Google Fonts */

:root {
        /* Fonts */
        --paragraphFont: "Nunito", sans-serif;
        --titleFont: "Nunito", sans-serif;
      
        /* Colors */
        --mainColor: #004d71;
        --secondColor: #410099;
        --smoothColor: #c5be8b;
        --whiteColor: #ffffff;
        --blackColor: #000000;
        --brownColor: #5d5c49;
        
      
        /* utilities */
        --cardBoxShadow: 2px 1px 4px 3px rgba(0, 0, 0, 25%);
        --normalSpacing: 50px;
      }

      /*Globals*/
      
      html {
        box-sizing: border-box; /* so border, padding and margin don't affect original width*/
        /* font-size: 62.5%; 1rem = 10px */
      }
      
      *,
      *::before,
      *::after {
        box-sizing: inherit; /*inherits from html*/
      
      }
      
      body {
        font-family: var(--paragraphFont);
        font-size: 100%;
        line-height: 1;
        margin: 0;
        padding: 0;
      }
      
      a {
        text-decoration: none;
      }
      
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: var(--titleFont);
      }
      
      h1 {
        font-size: 36px;
      }
      
      h2 {
        font-size: 27px;
      }
      
      h3 {
        font-size: 21px;
      }
      
      img {
        max-width: 100%;
      }
      


/* Estilos base para todos los elementos de la pag */
*{
        box-sizing: border-box; /* Todos los elementos usan el modelo de caja de borde */
        margin: 0; /* Margen de 0 para todos los elementos */
        padding: 0; /* Relleno de 0 para todos los elementos */
        font-family: 'Nunito', sans-serif; /* Fuente para todos los elementos */
        font-size: 16px; /* Tamaño de fuente base  */
}

/* Header-styles */
header{
        background-color: #004d71; 
        display: flex; /*  flexbox para el diseño del encabezado */
        justify-content: space-between;
        align-items: center; /* Centra los elementos  verticalmente */
        height: 85px; 
        padding: 5px 10%; /* Relleno alrededor del encabezado */
        width: 100%; /* Ancho completo para el encabezado */
        top: 0; /* Posiciona el encabezado en la parte superior de la pantalla */
        z-index: 100; /* Asegura que el encabezado esté por encima de otros elementos */

        /* Logo styles */
        .logo{/* Cambia el cursor a un puntero cuando se pasa sobre el logo */
        cursor:pointer ;
        order: -1;
        }
        
        /* Logo image style*/
        .logo img{
        height: 70px; /* Altura de la imagen del logo */
        width: auto; /* Ancho automático para mantener las proporciones de la imagen */
        border-radius: 50%; /* Borde redondeado para hacer que la imagen sea circular */
        transition: all 0.3s; /* Transición suave para los cambios de estilo del logo */
                
        }

        .logo img:hover{
        transform: scale(1.1); /* Aumenta el tamaño del logo cuando se pasa el cursor sobre él */
         }
         
        .title{
        color: var(--whiteColor);
         }

         /* Nav link styles */
        .nav-links{
        list-style: none; /* Elimina los marcadores de lista para los enlaces de navegación */
        margin-left: 20px; /* Agrega un margen a la izquierda de los enlaces de navegación */
        }

        .nav-links li{
                display: inline-block; /* Hace que los elementos de la lista se muestren en línea */
                padding: 0 8px; /* Relleno alrededor del botón - 0px arriba y abajo , 8 px a los lados */
                font-weight: 700; /* Hace que el texto de los enlaces de navegación sea negrita */
        }

        .nav-links a{ 
        color: var(--whiteColor); 
        text-decoration: none; /* Elimina la decoración de los enlaces de navegación */
        }

        .nav-links li a:hover{
                text-decoration: underline; /* Subraya los enlaces de navegación cuando se pasa el cursor sobre ellos */
        }

        /*Contact button styles */
        .contact-btn{
        font-weight: 700; 
        color: white; 
        padding: 15px 25px; /* Relleno alrededor del botón - 9px arriba y abajo , 25 px a los lados */
        background: #410099; 
        border: none; /* Elimina el borde del botón */
        border-radius: 50px; 
        cursor: pointer; 
        transition: all 0.3s; 
        text-decoration: none;
        }
        
        .contact-btn:hover{
        background-color:#410099 ; 
        color :white; 
        transform: scale(1.1) ;
        }   
}

/*  Section Introduction -styles */

.container-introduction{
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-gap : 20px;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;

        
}

.container-introduction >section,
.container-introduction #main-description,
.container-introduction .qualification-table,
.container-introduction .unkown-picture{
  padding: 20px;
  border-radius: 5px;
}

.main-description{
  background: rgba(0,0,0,0.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  border: solid 1px rgba(0, 0, 0, 0.2);
  grid-column: 1/4;
  grid-row:1/3;
  
}

h1{
  padding: 10px 15px;
  text-align: center;  
}

q{
  font-size: var(--paragraphFont);
  background: rgba(0,0,0,0.1);
  font-weight: 600;

}

p{
  padding: 10px 15px;
  text-align: center;
}

.container-introduction .qualification-table{
  background: rgba(0,0,0,0.1);
  grid-column : 4/5;
  grid-row : 1/3;
  

}

.container-introduction .unkown-picture{
  grid-column: 1/5;
  grid-row: 3/4 ;
  height: 400px;
}


.qualification-table{
  border: solid 1px rgba(0, 0, 0, 0.2);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}

h3{
  padding: 10px 15px;
  text-align: center;  
}

thead{
  background: linear-gradient(#860beb,#705086);
  color: var(--smoothColor)
}

th {
  padding: 20px 15px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

td{
  padding: 5px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);

}

tbody tr{
  cursor: pointer;
}

tbody tr:hover{
  background: linear-gradient(#860beb,#705086);
}

 
.unkown-picture{
        width: 100%;

        object-fit: cover;
        border-radius: 10px;
        box-shadow: var(--cardBoxShadow);

} 

/* Small devices (portrait tablets and large phones, 600px and up) */

@media (max-width:600px) {
  .header{
      
    position: relative;
    .nav{
        background-color: var(--mainColor);
        position: absolute;
        top: 0;
        left: -350px;
        height: 300px;
        width: 400px;
        border-bottom-right-radius: 10px;
        transition: left .4s ease;
        .nav-links{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
  
        
    }
    
    .nav.active{
        left: 0;
  
    }
  
    .hamburger{
      position: absolute;
      right: 20px;
      z-index: 9999;
      background: linear-gradient(#860beb,#705086);
      display: block;
      .hamburger-line{
      width:20px;
      height: 4px;
      margin-bottom: 4px;
      background-color: var(--smoothColor);

      }
    }
  }
}



@media screen and (max-width: 930px ) {

  .container-introduction{

    grid-template-columns: repeat(1,1fr);
          
  }
 
  .container-introduction .unkown-picture {
    grid-column: 1;
    grid-row: 3/4;
  }
  .container-introduction .main-description{
    grid-column : 1;
    grid-row: 1/2;
  }

  .container-introduction .qualification-table{
    grid-column: 1/2;
    grid-row: 2/3 ;
  }
  
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 601px) and  (max-width: 768px) {
  .container-introduction {
      width: 90%;
  }
  .main-description{
    min-width: 400px;
  }

  
}



/* Section blog content -styles */

/* Estilos para el botón flotante dentro del contenedor */
.btn-float a {
        color:var(--secondColor); 
        text-decoration: none; /* Elimina la decoración del botón flotante */
        font-size: 1.5rem; 
        font-weight: bold;
        background-color: var(--smoothColor);
        padding: 15px 20px; /* Relleno alrededor del botón flotante - 5px arriba y abajo y 25px a lo lados*/
        border-radius: 50%; 
        position: fixed; /* Posición fija para que el botón flotante se mantenga en la misma posición en la pantalla */
        right: 40px; /* Posiciona el botón flotante a 40px desde la derecha de la pantalla */
        bottom: 40px; /* Posiciona el botón flotante a 40px desde la parte inferior de la pantalla */
        transition: all 0.3s ease 0s ; 
        box-shadow: 0px 8px 15px rgba(255, 255, 255,0.2); /* Sombra para el botón flotante */
        z-index: 99; /* Asegura que el botón flotante esté por encima de otros elementos */
} 

/* Estilos para el botón flotante cuando se pasa el cursor sobre él */
.btn-float a:hover{
        color: var(--mainColor); 
        box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.1); 
        transform: translateY(-3px); /* Mueve el botón flotante hacia arriba cuando se pasa el cursor sobre él */
}

.footer{
        background-color: var(--mainColor);
        padding: 40px 0;
}

.footer-row{
        display: flex;
        flex-wrap: wrap;
}

.footer-links{
        width: 50%;
        padding: 0 15px;
}
    
.footer-links h4{
        font-size: 20px;
        color: var(--whiteColor);
        margin-bottom: 10px;
        font-weight: 600;
        border-bottom: 2px var(--smoothColor);
        padding-bottom: 10px;
        display: inline-block;

}

.social-link a {
        display: inline-block;
        min-height: 40px;
        width: 40px;
        background-color:rgba(255, 255, 255, 20%);
        margin: 0 10px 10px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: var(--whiteColor);
        transition: all .5s ease;

}

.social-link a:hover {
        background-color: var(--smoothColor);
}

.footer-links{
        color: var(--whiteColor);
        display: inline-block;
        text-align: center;
}

